<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ryanllee.com/">
    <meta property="og:title" content="Class CRN to Calendar">
    <meta property="og:description" content="Automatically put your classes in google classroom">
    <meta property="og:image" content="https://i1.lensdump.com/i/rdICwb.png">
    <title>RL</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
